<h1><%= @place.name %></h1>
<h2><%= @post.title %></h2>

<p>
   <strong>Posted On:</strong> <%= @post.posted_on %><br />
   <strong>Description: </strong> $<%= @post.description %><br />
</p>

<hr />

<%= link_to 'Back', {:action => 'index'} %>